<%- include('./partials/header'); %> 
<main>
    <div class="container">
    <section class="menu">
        <h1>BASE DE CONHECIMENTO</h1>
        <a href="/bc/cadastro" class="cadastro">Cadastrar novo Item</a>
    </section>
    <section class="equipamento">
        <a href="" class="equipamento-tipo">
            <div class="bc-geral-imagem" style="background-image: url('/img/comba-geral.png');"></div>
            <p class="nome">Rádios</p>
        </a>   
    </section>
    </div>
</main>
<%- include('./partials/footer'); %>