<%- include('./partials/header') %>
<main>
    <div class="container">
        <h1>Formulário de cadastro</h1>
        <form action="/bc/cadastro">
        <label for="nomeItem">Nome</label>
        </form>
    </div>
</main>
<%- include('./partials/footer') %>  