<%- include('./partials/header'); %> 
        <main>
            <section class="menu">
                <div class="container">
                    <div class="menu-botao">
                        <a href="#" target="_blank"><button>Base de <br> conhecimento</button></a>
                    </div>
                    <div class="menu-botao">
                        <a href="https://docs.google.com/spreadsheets/d/1gFi89DZIUhKUydIyoHU9BXAmr-Pq3iGIadNrJ8X4LwE/edit#gid=165866914" target="_blank"><button>Contatos</button></a>
                    </div>
                    <div class="menu-botao">
                        <a href="https://docs.google.com/document/d/1qvLDQbO6KQGxH_jsKlgGBMH-lyGP5hMu70kgis-rk4c/edit" target="_blank"><button>Sites e <br> Senhas</button></a>
                    </div>
                    <div class="menu-botao">
                        <a href="https://docs.google.com/spreadsheets/d/14m0gjlrjbUI9iUcrC7Q2ozKulZV_McxuXXZzMbapMvY/edit#gid=0" target="_blank"><button>Autorizações e<br>agendamento</button></a>
                    </div>
                    <div class="menu-botao">
                        <a href="https://docs.google.com/spreadsheets/d/1FhOyTdgjkt6KfnaUjyzYuOEU-f-DcFLJb9y89krzdZo/edit?usp=sharing" target="_blank"><button>Alarmes de <br> retificadores</button></a>
                    </div>
                    <div class="menu-botao">
                        <a href="#" target="_blank"><button>Passagem de <br> Turno</button></a>
                    </div>
                </div>
            </section>
        </main>
<%- include('./partials/footer'); %>     